name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: BabyBoy-Yuan
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          # 核心修改在这里：
          # 不要使用 secrets.GITHUB_TOKEN，而是使用你刚才设置的 METRICS_TOKEN
          # 这样它就有权限读取你的私有仓库贡献了
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          # 推送代码到 output 分支通常不需要特殊权限，
          # 使用默认的 GITHUB_TOKEN 即可
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
